body{
    background-color: whitesmoke;
    background-image:url("her.png");

}

h3{
    font-size: 1.78rem;
}

.para{
    color:#ffff;
}

p{
    font-size: 19px;

}
.btn{
    background-color:orangered;
    padding: 25px 45px 25px 45px;
    font-size: 17px;
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.navbar{
    margin-top: 6px;
    margin-bottom: 50px;
}

.brandname{
    font-family: montserrat;
    font-size: 30px;
    color: #b60f0f;
}

.heart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:0;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
    padding-left: 160px;
  
}

.box{
    position: relative;
    padding: 100px  50px 50px;
    top:40px;
}   

.form_grp1{
    
    text-align: center;
    font-weight: 600;
}

.form_grp2{

    text-align: center;
    font-weight: 600;
}

.input_box{
    padding: 20px 100px 20px 30px;
    border-radius:  30px 30px;
    border: 0px;
    

}
@media only screen and (max-width: 991px) {
    .input_box{
        max-width: 100%;
    }
  }

.text1{
    color:#ffff;
}

.hr{
    background-color: #ffff;

}

/* CONATACT SECTION */
.socialinfo{
    text-align: center;
    margin:auto;
    display:block;
}

.a{
    letter-spacing: 30px;
    color: #ffff;

  }
  
  .copyright-section{
    padding: 20px ;
    color: #ffff;
    text-align: center;
    margin: auto;

  }
  